{% extends "admin/home.html" %}

{% block content %}
    {# Message de notification #}
    {% if message %}
        <div class="message {% if '✅' in message %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    {# Titre principal #}
    <div class="box">
        <div class="sub_title">
         
            {% if Dis == 'ajt' %}
                <p>Ajouter les produits au</p>
            {% elif Dis == 'mod' %}
                <p>Modifier les produits du</p>
            {% endif %}
        </div>
    
    
    {# Menu accordéon des catégories #}
      {% if Dis == 'ajt' %}
    <div class="accor">
        <div class="lab">
            Catégorie
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="categorie">
<ul class="categories-list">
  <li><a href="{{ url_for('quide', cate='carburant', Dis ='ajt') }}">Carburant</a></li><hr>
    <li><a href="{{ url_for('quide', cate='gaz', Dis ='ajt') }}">Gaz</a></li><hr>
    <li><a href="{{ url_for('quide', cate='detendeur', Dis ='ajt') }}">Détendeur</a></li><hr>
    <li><a href="{{ url_for('quide', cate='lubrifiant', Dis = 'ajt') }}">Lubrifiants</a></li><hr>
    <li><a href="{{ url_for('quide', cate='pneumatique', Dis ='ajt') }}">Pneumatiques</a></li><hr>
    <li><a href="{{ url_for('quide', cate='entretien', Dis = 'ajt') }}">Entretien</a></li><hr>
    <li><a href="{{ url_for('quide', cate='refroidissement', Dis ='ajt') }}">Refroidissement</a></li><hr>
    <li><a href="{{ url_for('quide', cate='batteries', Dis ='ajt') }}">Batteries</a></li><hr>
</ul>
   </div>
    </div>
   
   
            {% elif Dis == 'mod' %}
             <div class="accor">
        <div class="lab">
            Catégorie
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="categorie">
 <ul class="categories-list">
     <li><a href="{{ url_for('quide', cate='batteries', Dis = 'mod') }}">Batteries</a></li><hr>
  <li><a href="{{ url_for('quide', cate='carburant', Dis = 'mod') }}">Carburant</a></li><hr>
    <li><a href="{{ url_for('quide', cate='gaz', Dis = 'mod') }}">Gaz</a></li><hr>
    <li><a href="{{ url_for('quide', cate='detendeur', Dis = 'mod') }}">Détendeur</a></li><hr>
    <li><a href="{{ url_for('quide', cate='lubrifiant', Dis = 'mod') }}">Lubrifiants</a></li><hr>
    <li><a href="{{ url_for('quide', cate='pneumatique', Dis = 'mod') }}">Pneumatiques</a></li><hr>
    <li><a href="{{ url_for('quide', cate='entretien', Dis = 'mod') }}">Entretien</a></li><hr>
    <li><a href="{{ url_for('quide', cate='refroidissement', Dis = 'mod') }}">Refroidissement</a></li><hr>
   
</ul>
        </div>
    </div>
{% endif%}
</div>
{% if cate %}
{% include "admin/ajt_pr_templates/" ~ cate ~ ".html" with context %}
{% else %}
    <p>👉 اختر فئة من القائمة</p>
{% endif %}

    
   
    {# Script JavaScript #}
    <script>
        document.querySelectorAll('.accor').forEach(acc => {
            acc.addEventListener('click', () => {
                acc.classList.toggle('active');
            });
        });
    </script>
    
{% endblock %}