{% extends "admin/home.html" %}

{% block content %}
    {# Message de notification #}
    {% if message %}
        <div class="message {% if '✅' in message %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    {# Titre principal #}
    <div class="box">
        <div class="sub_title">
         
            {% if Dis == 'ajt' %}
                <p>Ajouter les produits au</p>
            {% elif Dis == 'mod' %}
                <p>Modifier les produits du</p>
            {% endif %}
        </div>
    
    
    {# Menu accordéon des catégories #}
      {% if Dis == 'ajt' %}
    <div class="accor">
        <div class="lab">
            Catégorie
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="categorie">
<ul class="categories-list">
  <li><a href="{{ url_for('quide', cate='carburant') }}">Carburant</a></li><hr>
    <li><a href="{{ url_for('quide', cate='gaz') }}">Gaz</a></li><hr>
    <li><a href="{{ url_for('quide', cate='detendeur') }}">Détendeur</a></li><hr>
    <li><a href="{{ url_for('quide', cate='lubrifiant') }}">Lubrifiants</a></li><hr>
    <li><a href="{{ url_for('quide', cate='pneumatique') }}">Pneumatiques</a></li><hr>
    <li><a href="{{ url_for('quide', cate='entretien') }}">Entretien</a></li><hr>
    <li><a href="{{ url_for('quide', cate='refroidissement') }}">Refroidissement</a></li><hr>
    <li><a href="{{ url_for('quide', cate='batteries') }}">Batteries</a></li><hr>
</ul>
   </div>
    </div>
   </div>
   
            {% elif Dis == 'mod' %}
             <div class="accor">
        <div class="lab">
            Catégorie
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="categorie">
  <li>Carburants</li><hr>
  <li>Gaz Butane</li><hr>
  <li>Lubrifiants</li><hr>
  <li>Batteries</li><hr>
  <li>Pneus</li><hr>
  <li>Entretien Véhicule</li><hr>
  <li>Detendeur</li><hr>
   <li>Refroidisment</li><hr>
  
            {% endif %}

        </div>
    </div>
   </div>

    {# Script JavaScript #}
    <script>
        document.querySelectorAll('.accor').forEach(acc => {
            acc.addEventListener('click', () => {
                acc.classList.toggle('active');
            });
        });
    </script>
    
{% endblock %}