{% extends "admin/home.html" %}

{% block content %}
    {# Message de notification #}
    {% if message %}
        <div class="message {% if '✅' in message %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    {# Titre principal #}
    <div class="box">
        <div class="sub_title">
         
            {% if Dis == 'ajt' %}
                <p>Ajouter les produits au</p>
            {% elif Dis == 'mod' %}
                <p>Modifier les produits du</p>
            {% endif %}
        </div>
    
    
    {# Menu accordéon des catégories #}
    <div class="accor">
        <div class="lab">
            Catégorie
            <i class="fas fa-chevron-down"></i>
        </div>
        
        <div class="categorie">
<ul class="categories-list">
  {% for table in tables %}
    <li>
      <a href="{{ url_for('final_step', Dis=Dis , table=table) }}">
        <p>u</p>
       <p>{{ tables }}</p>
      </a>
      <hr>
      <hr>
    </li>
  {% endfor %}
</ul>

        </div>
    </div>
   </div>

    {# Script JavaScript #}
    <script>
        document.querySelectorAll('.accor').forEach(acc => {
            acc.addEventListener('click', () => {
                acc.classList.toggle('active');
            });
        });
    </script>
    
{% endblock %}