<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='home_p.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='choi.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='mod_page.css')}}">
  <title>Document</title>
</head>
<body>
      <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='uploads/logo_o.jpg') }}" alt="Logo" class="logo-img">
      <a href="{{ url_for('afficher_produits',nom_categorie='all') }}">Naftal Vitrine</a>
    </div>
    <div class="search">
      <form method="POST" action="{{ url_for('chercher_produits') }}">
        <input type="text" name="query" placeholder="Entrez nom ou ID">
        <button type="submit"> <i class="fa-solid fa-magnifying-glass"
            style="color: #ffffff;"></i></button>
      </form>
    </div>
  </header>
    <aside>
    <button id="toggleBtn">
  <i class="fa-solid fa-bars"></i>
      <span class="title">gestion du produits </span>
    </button>


    <div class="sidebar" id="sidebar">
      <div class="element">
        <ul>
  <li><a href="{{ url_for('choiser', Dis='ajt') }}">Ajouter</a></li>
  <li><a href="{{ url_for('suppremer_produit') }}">Supprimer</a></li>
  <li><a href="{{ url_for('choiser', Dis='mod') }}">Modifier</a></li>
          <li>
       <div class="accordion">
    <span class="labelle">categorie<i class="fas fa-chevron-down"></i></span>
    <div class="categorie">
  <ul class="categories-list">
  <li><a href="{{ url_for('afficher_produits', nom_categorie='carburant') }}">Carburant</a></li>
  <hr>
  <li><a href="{{ url_for('afficher_produits', nom_categorie='gaz') }}">Gaz Butane</a></li>
  <hr>

  <li><a href="{{ url_for('afficher_produits', nom_categorie='lub') }}">Lubrifiants</a></li>
  <hr>

  <li><a href="{{ url_for('afficher_produits', nom_categorie='batterie') }}">Batteries</a></li>
  <hr>

  <li><a href="{{ url_for('afficher_produits', nom_categorie='detendeur') }}">Détendeur</a></li>
  <hr>

  <li><a href="{{ url_for('afficher_produits', nom_categorie='pneu') }}">Pneumatiques</a></li>
  <hr>

  <li><a href="{{ url_for('afficher_produits', nom_categorie='entretien') }}">Produits d'entretien</a></li>
  <hr>

  <li><a href="{{ url_for('afficher_produits', nom_categorie='refroidissement') }}">Liquide de refroidissement</a></li>
  <hr>
</ul>
    </div>
  </div>
          </li>
          <li><a href="{{ url_for('logout') }}">deconnecter</a></li>
        </ul>
      </div>
    </div>
    </aside>
<section>
        <div class="back-img">
        <img src="{{ url_for('static', filename='uploads/logo_preview.png') }}">
        </div>
    {% block content %}
  {% endblock %}
</section>
<footer>
  
</footer>
      <!-- Script Toggle -->
       <script>
  const toggleBtn = document.getElementById('toggleBtn');
  const sidebar = document.getElementById('sidebar');
  const icon = toggleBtn.querySelector('i');

  toggleBtn.addEventListener('click', () => {
    // Toggle sidebar visibility
    sidebar.classList.toggle('show');

    // Toggle button active style
    toggleBtn.classList.toggle('clicked');

    // Toggle icon between bars and xmark
    if (icon.classList.contains('fa-bars')) {
      icon.classList.remove('fa-bars');
      icon.classList.add('fa-times');

    } else {
      icon.classList.remove('fa-times');
      icon.classList.add('fa-bars');
    }
  });
</script>

  <!-- to move the title + tbale -->
  <script>
    document.getElementById("toggleBtn").addEventListener("click", function () {
      document.body.classList.toggle("sidebar-active");

    });
  </script>
   <script>
  document.querySelectorAll('.accordion').forEach(acc => {
  acc.addEventListener('click', function () {
    this.classList.toggle('active');
  });
});
  </script>
</body>
</html>