{% extends "admin/home.html" %}
{% block content %}
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>prix</th> 
                <th style="width: 1px; height: 1px;">Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom_produit }}</td>
                <td>{{ produit.prix }}</td>
                <td>

                    {% if produit.photo %}
                    <img src="{{ url_for('static', filename=produit.photo) }}" width="100">
                    {% else %}
                    Pas d'image
                    {% endif %}
                </td>

            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>

{% endblock %}