 
 * {
margin: 0;
padding: 0;                                                                                                                                 
font-family: "Roboto", sans-serif;

}
body {
padding-top: 85px;
 overflow-x: hidden;
}
 .categorie-container {
  padding: 40px 10px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;}  
   

.categorie-slider {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  border-radius: 12px;
    border-color: #F0B618;

}

.categorie-card {
  text-align: center;
   width: 60px;
  padding: 10px;
  margin: 0 5px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.categorie-card:hover {
  transform: scale(1.03);
}

.categorie-icon {
  font-size: 50px;
  color: #003366;
  margin-bottom: 10px;
}

.categorie-content li {
  list-style: none;
}

.categorie-content a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
  font-size: 15px;
}

.categorie-content a:hover {
  color: #f0b618;
}

.categorie-slider .slick-prev,
.categorie-slider .slick-next {
  background: transparent;
  color: #003366;
  width: 45px;
  height: 45px;
  z-index: 10;
}
.categorie-slider .slick-prev:hover,
.categorie-slider .slick-next:hover {
 
  background: transparent;
  border-color: #003366;
}
.categorie-slider .slick-prev:before,
.categorie-slider .slick-next:before {
  font-size: 22px;
  color: #003366;
}

   .title-line {
      display: flex;
      align-items: center;
      text-align: center;
        justify-content: center;
      width: 100%;
      margin: 40px 0;
       text-transform: uppercase; 
    }
 

    .title-line span {
      text-align: center;
      padding: 0 20px;
    font-size: xx-large;
      color: #999;
      font-weight: 800;
      opacity: 0.9;

    }

.slider-container-index {
  display: flex;
  width: 100%;
  max-width: 1665px;
  margin: 10px;
  overflow: hidden;
  height: 500px;
  justify-content: center;  
  align-items: center;  
}
.categorie-slider-index {
    width: 100%;
    margin: auto;
}
.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide {
    outline: none;
    box-sizing: border-box;
}

.slick-track {
    display: flex;
}

.slick-dots li button:before {
    color: #888;
}

.slick-dots li.slick-active button:before {
    color: #333;
}

.slick-prev, .slick-next {
    z-index: 2;
}

.produits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
}
.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.btn-overlay {
  position: absolute;
  bottom: 80px;
  left: 74%;
  transform: translateX(-50%);
  background-color: #F0B618;
  color: white;
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.btn-overlay:hover {
  background-color: #d89e00;
  transform: translateX(-50%) scale(1.05);
}
.container-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.carte-cib {
   margin-top: 10% ;
  margin-bottom: 50px;;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 180px; 
  height: 350px;
  background-color: #003366;
  padding: 0 5%;
}

.carte-cib img {
   z-index: 2;
  
}


 .carte-cib .pragraphe {
 display: flex;
  flex-direction: column; 
  justify-content: center;
  color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  max-width: 40%;
}

.carte-cib .pragraphe p {
  font-size: xx-large;
  font-weight: bolder;
 text-transform: uppercase;
  text-align: left;
}
.carte-cib .pragraphe p span{
  color:#F0B618;
}
.carte-cib .pragraphe a{
  background-color: #f9f9f9;
  color: #003366;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  text-transform: capitalize;
  transform: none;
  width: 200px;
  padding: 5px;
  text-align: center;
  
}

.carte-cib .pragraphe a:hover{
  background-color: #003366;
  color: #f9f9f9;

  
}
.nftal-khadmate {
  margin-top: 10% ;
  margin-bottom: 50px;;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 180px; 
  height: 310px;
  background-color: #003366;
  padding: 0 5%;
  
}

.nftal-khadmate > img {
  z-index: 2;
  transform: translateY(-12px);
}

.nftal-khadmate .pragraphe {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  max-width: 50%;
 

}

.nftal-khadmate .pragraphe p span {
  font-size: xxx-large;
  font-weight: bolder;
  text-transform: capitalize;
  direction: rtl;
  text-align: right;

}

.nftal-khadmate .pragraphe p {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 10px;
}

.nftal-khadmate-image {
  display: flex;
  gap: 10px;

}

.nftal-khadmate-image img {
  height: 40px; 
}

.cards {
  display: flex;
  gap: 65px;
  justify-content: center;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #003366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover a {
  opacity: 1;
}
.card img{
 width: 120%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 768px) {

  .carte-cib, .nftal-khadmate {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .carte-cib img,
  .nftal-khadmate > img {
    width: 80%;
    height: auto;
  }

  .carte-cib .pragraphe,
  .nftal-khadmate .pragraphe {
    max-width: 100%;
    font-size: 16px;
    align-items: center;
  }

  .carte-cib .pragraphe p,
  .nftal-khadmate .pragraphe p,
  .nftal-khadmate .pragraphe p span {
    font-size: 20px;
    text-align: center;
  }

  .carte-cib .pragraphe a,
  .nftal-khadmate .pragraphe a {
    font-size: 1rem;
    width: 100%;
  }

  .cards {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 90%;
    margin: auto;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .title-line span {
    font-size: 20px;
  }

  .btn-overlay {
    font-size: 14px;
    padding: 8px 16px;
    left: 50%;
    bottom: 20px;
  }

}
