.box{
width:96vw;
display: flex;
justify-content: center ;
align-items:baseline;
padding: 10px;
z-index: 90;
height: 40px;
background-color: ed;
border-color: transparent; 
margin:40px;

}
  .sub_title {
    z-index: 100;    
  }
  .accor {
    width: 200px;
    cursor: pointer;  
    text-align: left;
    transition: max-height 0.4s ease;
    overflow: hidden;
    max-height: 40px;
    padding: 2px;
    background: rgb(red, green, blue);
    box-shadow: #000;
  
  }

  .sub_title,
  .accor .lab {
  color:#003366;
  font-family: 'Lato', sans-serif;
  font-size:x-large;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;


  }
  .accor .lab{
 
    background-color: #F0B618;
    padding:  12px  0px;


  }
  .accor .categorie ul a{
    font-size:medium;
    font-weight: 700;
    text-decoration: none;
    color: #003366;

  }
  .accor .categorie ul a:hover{
    color:#F0B618;
  }
  .accor .categorie{
 background-color: white;
  z-index: 10000;
  color:#003366;
  overflow-y: auto;          
  overflow-x: hidden;  
  max-height: 0;
}

  .accor.active {
  max-height: 300px;
  
  }
  .accor.active .categorie{
  max-height: 150px;
  opacity: 1;
  }

  .accor.active span .fas.fa-chevron-down {
    transform: rotate(180deg);
   
  }