body {
font-family: Arial, sans-serif;
background-color:white;
margin: 0;
padding: 20px;
padding-top: 70px;

}
/*---------------------------------------nav bar ------------------------------------------*/
header {
position: fixed;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 3%;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
z-index: 999;
height: 50px;
background-color: white;
width: 100%;
}  
  
.logo {
display: flex;
align-items: center;
font-size: 400;
}
.logo a{
  color:#003366;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}
.logo-img {
width: 40px;
height: auto;

}

.search {
display: flex;
justify-content: center;
margin:0px 50px;

}

.search form {
display: flex;
background-color: #F0B618;
border: 2px solid #003366 !important;
overflow: hidden;

}


.search input[type="text"] {
border: none;
padding: 10px 15px;
font-size: 16px;
outline: none;
width: 400px;
border: 2px solid #CCC !important;
}

.search button {
border:none;
background-color: #003366;
font-size: 18px;
padding: 0 18px;
cursor: pointer;
transition: background-color 0.3s ease;
border-radius: 0%;
}

.search button:hover {
background-color: #0056b3;
}


/*---------------------------------------------------------------------------------*/
.table-container {
min-width: 1200px;
margin-left: 1%;
margin-top: 11%;
min-height: 100vh;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
background-color:#ccc;
box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

table, th, td {
border: 1px solid #000;
}

th, td {
padding: 9px;
text-align: center;
}

thead th {
position: sticky;
top: 0;
background-color: #003366; 
color: white;
z-index: 2; 
}

td {
  max-width: 200px;     /* largeur maximale de la cellule */
  word-wrap: break-word; /* coupe les mots longs si nécessaire */
  white-space: normal;   /* permet au texte de passer à la ligne */
}
tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

tbody tr:hover {
background-color: #777;
}

input, select, textarea {
width: 100%;
padding: 8px;
box-sizing: border-box;
}

textarea {
resize: vertical;
min-height: 60px;
}

button {
padding: 8px 12px;
cursor: pointer;
border: none;
border-radius: 4px;
font-weight: bold;
}
.button-row {
display: flex;
justify-content: center;  
gap: 15px;                
margin-top: 20px;
}
.btn-add {
border-radius: 5px;
font-size: 17px;
background-color: #F0B618;
color: white;
padding: 12px;
cursor:pointer;

}

.btn-submit {
border-radius: 5px;  
cursor:pointer;
font-size: 17px;
background-color: #003366;
color: white;
padding: 12px;
}
.btn-add:hover{
background-color: #003366;

}
.btn-submit:hover{
background-color: #F0B618;
}
.btn-del,
.btn-mod{
background-color: #F0B618;
color: white;
cursor:pointer;
}
.product-image {
  max-width: 5px!important;
  max-height: 2px!important;
  display: block;
  object-fit: cover;
}

/*--------------drop down list---------------------------------------------------------------------*/
.sidebar {
position: fixed;
top: 70px;
left: -220px; 
width: 220px;
min-height: 100vh;
background-color: #003366;
transition: left 0.3s ease;
}
.element{
margin-top: 90px;
}
.sidebar.show {
left: 0; 
}


.sidebar h2 {
color: white;
text-align: center;
margin-bottom: 20px;
font-size: 18px;
}

.sidebar ul {
list-style-type: none;
padding: 0;
}

.sidebar ul li {
padding: 12px 20px;
}

.sidebar ul li a {
color: white;
text-decoration: none;
display: block;
transition: background 0.3s;
font-size: 15px;
letter-spacing: 1px;
text-transform: uppercase;
line-height: 1;
font-weight: bolder;

}
 
.sidebar ul li a:hover {
background-color: #003366;
border-radius: 5px;
font-weight: bold;

}
#toggleBtn {
display: flex;
align-items: center;
gap: 10px;
top: 90px;
left: 0px;
position: absolute;
position: fixed;
z-index: 999;
color: #003366;
background-color: transparent;
cursor: pointer;
font-size: 24px;
border-radius: 0px;
border: none;
}

#toggleBtn.clicked {
background-color: transparent;
color: white;
}

span {
color: #003366; 
font-family: 'Lato', sans-serif;
font-size: 25px;
letter-spacing: 1px;
text-transform: uppercase;
line-height: 1;
}
span, .table-container {
transition: transform 0.3s ease;
}

body.sidebar-active span{
transform: translateX(200px); 
}
body.sidebar-active .table-container {
   width: 86%;  
   position:relative ;
   left:200px;
}
nav{
position: fixed;
top: 50x;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 3%;
z-index: 100;
height: 55px;
background-color: white;
border-color: transparent; 
}
.accordion {
cursor: pointer;
text-align: left;
transition: max-height 0.4s ease;
overflow: hidden;
max-height: 30px;
padding: 2px;
}
.accordion .labelle{
color:white;
font-family: 'Lato', sans-serif;
font-size: 15px;
font-weight: bold;
letter-spacing: 1px;
text-transform: uppercase;
line-height: 1;

}
.accordion .categorie ul a{
  font-size: small;
  font-weight: 700;
  opacity: 1;
  opacity: 0.7;
}
.accordion .categorie ul a:hover{
  color:#F0B618;
}
.accordion .categorie{
color:white;
overflow-y: auto;          /* Active le scroll vertical */
overflow-x: hidden;  
max-height: 0;
}

.accordion.active {
max-height: 900px;
}
.accordion.active .categorie{
max-height: 300px;
opacity: 1;
}
.accordion .categorie::-webkit-scrollbar {
height: 15px;
width: 8px;
margin-left: 3px;
}

.accordion .categorie::-webkit-scrollbar-thumb {
background-color: #CCC;
border-radius: 1px;
}

.accordion .categorie::-webkit-scrollbar-track {
background-color:#888;
}
.accordion.active  span .fas.fa-chevron-down {
transform: rotate(180deg);
}
/*----------------------------------------redult-------------------------------------------------------------------*/
.result {
margin-top: 5%;
}

.result table {
margin-left: 10%;
width: 80%;
border-collapse: collapse;
margin-top: 20px;
background-color:#ccc;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.result .title-res{
color: red; 
text-align: center; 
font-family: 'Lato', sans-serif;
font-size: 25px;
letter-spacing: 1px;
text-transform: uppercase;

}
body.sidebar-active .result {
transform: translateX(100px); 
}
.voir_photo{
font-size: 16px;
outline: none;
width: 150px;
cursor: pointer;
background-color: #F0B618;
border-radius:4px ;
margin-left: 50px;
}
.voir_photo:hover{
  transform: translateY(2px); 
}
.box{
position: fixed;
top: 10x;
left: 0;
width:100%;
display: flex;
justify-content: center ;
align-items: center;
padding: 10px 3%;
z-index: 90;
height: 40px;
background-color: #fff;
border-color: transparent; 

}
  .sub_title {
    z-index: 100;
    margin-bottom: 20px;
    
  }

  .accor {
    width: 195px;
    cursor: pointer;  
    text-align: left;
    transition: max-height 0.4s ease;
    overflow: hidden;
    max-height: 40px;
    padding: 2px;
    margin-top: 180px;
    background: rgb(red, green, blue);
    box-shadow: #000;
  
  }

  .sub_title,
  .accor .lab {
  color:#003366;
  font-family: 'Lato', sans-serif;
  font-size:x-large;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;


  }


  .accor .lab{
    position:absolute;
    top:-10px;
    left:890px;
    background-color: #F0B618;
    padding: 15px 12px;
  
  }
  .accor .categorie ul a{
    font-size:medium;
    font-weight: 700;
    text-decoration: none;
    color: #003366;

  }
  .accor .categorie ul a:hover{
    color:#F0B618;
  }
  .accor .categorie{
 background-color: white;
  z-index: 10000;
  color:#003366;
  overflow-y: auto;          
  overflow-x: hidden;  
  max-height: 0;

  }

  .accor.active {
  max-height: 300px;
  
  }
  .accor.active .categorie{
  max-height: 150px;
  opacity: 1;
  }

  .accor.active span .fas.fa-chevron-down {
    transform: rotate(180deg);
   
  }
.back-img {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  z-index: -1; 
}

.back-img img {
  width: 50%;
  height: 50%;
  object-fit: cover; 
}

@media screen and (max-width: 768px) {
  .accordion .labelle {
    font-size: 14px;
  }

  .accordion .categorie {
    max-height: 150px;
  }
}