.card-form-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 100px;
  overflow: hidden;
}

.card-form-overlay.active {
  display: flex;
}

.card-form {
  background: #fff;
  padding: 60px 40px;
  border-radius: 15px;
  width: 100%;
   height: auto;
  max-height: 75vh;
  max-width: 780px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
  color:#003366;
  overflow-y: scroll;          
  overflow-x: hidden;  
 top: auto; left: 10px;
  position: relative;
  z-index: 9999;

}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.close-card {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 26px;
  color: #003366;
  cursor: pointer;
  transition: color 0.2s;
}
.close-card:hover {
 transition: color 0.5s;
}

.mod-title {
  color: #003366;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 1px;
}

@media (max-width: 768px) {

  .card-form {
    padding: 30px 20px;
    max-height: 85vh;
  }

.cate-div0 label,
.cate-div1 label,
.cate-div2 label,
.cate-div3 label,
.cate-div4 label,
.cate-div5 label,
.cate-div6 label ,
.cate-div7 label, 
.cate-div8 label,
.cate-div9 label,
.cate-div10 label{
  color: #003366;
  font-size: 16px;
  width: 100%;
  margin-bottom: 5px;
}
.cate-div0 input,
.cate-div1 input,
.cate-div2 input,
.cate-div4 input,
.cate-div5 textarea,
.cate-div6 input,
.cate-div8 input,
.cate-div9 input,
.cate-div10 input,
.cate-div3 input,
.cate-div7 textarea{
  width: 70%;
    max-width: 100%;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


.cate-div5 textarea,
.cate-div7 textarea{
  height: 100px;
  resize: vertical;
}
}

.btn-mise {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.btn-mise button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}
.btn-mise button:hover {
  background-color: #e0a800;
}