 <div class="table-container">
    <form id="product-form" action="/admin/ajouter" method="POST" enctype="multipart/form-data">
        <table border="1" cellpadding="5" cellspacing="0" style="width:100%; border-collapse:collapse;">
            <thead>
                <tr>
                    <th>ID Produit</th> 
                    <th>Nom du Produit</th>
                    <th>Type</th>
                    <th>Utiliser</th>
                    <th>Avantage</th>
                    <th>Normes</th>
                    <th>Recommandation</th>
                    <th>Prix (DA)</th>
                    <th>Photo</th>
                </tr>
            </thead>
       <tbody id="product-body">

    <tr>
        <td><input type="number" name="id[]" value="{{ pr.id }}" required></td>
        <td><input type="text" name="nom_produit[]" value="{{ pr.nom }}" required></td>
        <td><input type="text" name="type[]" value="{{ pr.type }}" required></td>
        <td><input type="text" name="utiliser[]" value="{{ pr.utiliser }}" required></td>
        <td><input type="text" name="avantage[]" value="{{ pr.avantage }}" required></td>
        <td><input type="text" name="normes[]" value="{{ pr.normes }}" required></td>
        <td><input type="text" name="recommandation[]" value="{{ pr.recommandation }}" required></td>
        <td><input type="number" name="prix[]" value="{{ pr.prix }}" min="0" required></td>
        <td><input type="file" name="photo[]" accept="image/*"></td>
    </tr>
    </tbody>

        </table>