
{% if Dis == 'ajt' %}
    <div class="table-container">
        <form id="product-form" action="/admin/ajouter" method="POST" enctype="multipart/form-data">
            <table>
                <thead>
                    <tr>  
                        <th>ID Produit</th> 
                        <th>Nom du Produit</th>
                        <th> type</th>
                        <th> utiliser</th>
                        <th>avantage</th>
                        <th>dimention</th>
                        <th>recomendation</th>
                        <th>Prix (DA)</th>
                        <th>Photo</th>
                    </tr>
                </thead>
                <tbody id="product-body">
                    <!-- Ligne d'ajout -->
                    <tr>
                        <td><input type="number" name="id[]" placeholder="Ex: 101" required></td> 
                        <td><input type="text" name="nom_produit[]" placeholder="Ex: Super Sans Plomb" required></td>
                        <td><input type="text" name="type[]"></td>
                        <td><input type="text" name="utiliser[]"></td>
                        <td><input type="text" name="avantage[]"></td>
                        <td><input type="text" name="dimention[]"></td>
                        <td><input type="text" name="recomendation[]"></td>
                        <td><input type="number" name="prix[]" placeholder="3000" min="0" required></td>
                        <td><input type="file" name="photo[]" accept="image/*"></td>
                    </tr>
                </tbody>
            </table>
            <div class="button-row">
              <input type="hidden" name="form_type" value="pneumatique">
                <button type="submit" class="btn-submit"> Ajouter</button>
                <button type="button" class="btn-add" onclick="ajouterLigne()"> Ajouter une ligne</button>
            </div>
        </form>
    </div>

    <script>
        function ajouterLigne() {
            const tbody = document.getElementById('product-body');
            const ligne = tbody.rows[0].cloneNode(true);

            // Réinitialise les champs
            const inputs = ligne.querySelectorAll('input, select, textarea');
            inputs.forEach(input => {
                if (input.type === 'file') {
                    input.value = '';
                } else if (input.tagName.toLowerCase() === 'select') {
                    input.selectedIndex = 0;
                } else {
                    input.value = '';
                }
            });

            tbody.appendChild(ligne);
        }
    </script>

