{% extends "user/nav_footer.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='user/faq.css') }}">
{% endblock %}
{% block contene %}
<div class="title">
  <h2>centers de conversion GPLC</h2></div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="title">
  <h2>Pneumatique</h2></div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="title">
  <h2>Consignes de securite</h2></div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
<div class="title">
  <h2>Utiler le detendeur</h2></div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer">NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles dans
      les stations Naftal.</div>
  </div>
  <br>
  <div class="accordion">
    <span class="question">Qu'est-ce que NeftiShop ?</span>
    <span class="icon">▼</span>
    <div class="answer"><br>NeftiShop est une plateforme en ligne pour découvrir et acheter des produits disponibles
      dans les stations Naftal.</div>
  </div>
  <br>
  <script>
    document.querySelectorAll('.accordion').forEach(acc => {
      acc.addEventListener('click', () => {
        acc.classList.toggle('active');
      });
    });
  </script>



{% endblock %}