<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='user/nav+footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='user/nav2.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='user/card.css') }}">
   {% block css%}{% endblock %}
  <title>NAFTAL VETRINE</title>
</head>
<body>
          
<header>
      <div class="logo">
    <img src="{{ url_for('static', filename='uploads/logo_o.jpg') }}" alt="Logo" class="logo-img">
    <a href="{{ url_for('homepage')}}">Naftal Vitrine</a>
</div>
{% if show_search %}

  <ul class="element">
             <li><a href="{{ url_for('page_of_produit') }}">PRODUIT</a></li>
        </ul>


        <ul class="element">
            <li> <a href="{{ url_for('page_of_footer', nom_page='faq') }}">FAQ</a></li>
            <li><a href="{{ url_for('page_of_footer', nom_page='apropos') }}">À propos</a></li>
            <li><a href="{{ url_for('page_of_footer', nom_page='contact') }}">CONTACT</a></li>
        </ul>
     
{% else %}
 <div class="search">
    <form method="POST" action="{{ url_for('chercher_du_produits') }}">
        <input type="text" name="query" placeholder="Entrez nom ou ID">
        <button type="submit">  <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
    </form>

{% endif %}
</header>
 </div>
{% block contene %} {% endblock %}

    

  <footer class="footer">
    <p class="slogan"> NAFTAL VETRINE – La confiance fait partie du voyage.</p>
    <div class="bar">
      <ul class="list2">
        <li><a href="{{ url_for('page_of_produit') }}">PRODUIT</a></li>
            <li> <a href="{{ url_for('page_of_footer', nom_page='faq') }}">FAQ</a></li>
          <li><a href="{{ url_for('page_of_footer', nom_page='apropos') }}">ABOUT AS</a></li>
            <li><a href="{{ url_for('page_of_footer', nom_page='contact') }}">CONTACT</a></li>
      </ul>
    </div>
    <p class="lang-switch">
      Langue :
      <a href="#">Français</a> |
      <a href="#">عربية</a>
    </p>

    <p class="app-links">
      Téléchargez notre app :
      <a href="https://play.google.com/store/apps/details?id=com.naftal.apps.naftalkhadamat&hl=en"
        target="_blank">Android</a> |
   <a href="https://apps.apple.com/dz/app/naftal-khadamat/id6476059039" target="_blank">iOS</a>

    </p>

    <p class="copyright">
      © 2025 NeftiShop. Tous droits réservés.
    </p>
  </footer>
</body>
</html>