{% extends "user/nav_footer.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='user/pro_page.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
{% endblock %}
{% block contene %}
<div class="bg">
    <div class="sidebar" id="sidebar">
        <div class="title"><h2>CATEGORIES<h2></div>
       <ul class="produit">
    <li><a href="{{ url_for('homepage') }}">Accueil</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='carburant') }}">Carburant</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='gaz') }}">Gaz</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='detendeur') }}">Détendeur</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='lubrifiant') }}">Lubrifiants</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='pneumatiques') }}">Pneumatiques</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='entretien') }}">Entretien</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='refroidissement') }}">Refroidissement</a></li>
    <li><a href="{{ url_for('produit_cat', nom_categorie='batterie') }}">Batteries</a></li>
    
</ul>

   
<div class="range-double">
  <label><div class="title"><h2>Filtrer par prix:<h2></div></label>
    <br>
      <br>
  <div class="labels">
    <span>Min: <span id="prix-min-label">{{ prix_min }} DA</span></span>
    <span>Max: <span id="prix-max-label">{{ prix_max }} DA</span></span>
  </div>

<div class="range-sliders">
    <input type="range" id="prix-min" min="{{ prix_min }}" max="{{ prix_max }}" value="{{ prix_min }}" step="{{step}}">
    <input type="range" id="prix-max" min="{{ prix_min }}" max="{{ prix_max }}" value="{{ prix_max }}" step="{{step}}">
  </div>
</div>


  
        <div class="filter">
            <label><div class="title"><h2>Filtrer par prix:</h2></div></label>
            <div class="radio-group">
                <input type="radio" id="price-asc" name="price-filter" value="asc">
                <label for="price-asc">Prix croissant</label>
            </div>
            <div class="radio-group">
                <input type="radio" id="price-desc" name="price-filter" value="desc">
                <label for="price-desc">Prix décroissant</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title">
            <h3> nos produit:</h3>
        </div>
       <div class="produits-container" id="produits-container">
    {% include "user/card.html" %}
  </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<script>
  $(document).ready(function () {
    // Slider slick
    $('.categorie-slider').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true,
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: true,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false
          }
        }
      ]
    });

const inputMin = document.getElementById('prix-min');
const inputMax = document.getElementById('prix-max');
const minLabel = document.getElementById('prix-min-label');
const maxLabel = document.getElementById('prix-max-label');
const produitsContainer = document.getElementById('produits-container');
const categorie = "{{ categorie }}"; 

function getSelectedOrder() {
  const selected = document.querySelector('input[name="price-filter"]:checked');
  return selected ? selected.value : '';
}

function updateLabels() {
  let min = Number(inputMin.value);
  let max = Number(inputMax.value);

  if (min > max) {
    [min, max] = [max, min]; 
  }

  minLabel.textContent = min + " DA";
  maxLabel.textContent = max + " DA";

  const order = getSelectedOrder(); // ✅

  fetch(`/filtrer_ajax?categorie=${categorie}&prix_min=${min}&prix_max=${max}&order=${order}`)
    .then(response => response.text())
    .then(data => {
      produitsContainer.innerHTML = data;
    });
}


inputMin.addEventListener('input', updateLabels);
inputMax.addEventListener('input', updateLabels);

// radio
document.querySelectorAll('input[name="price-filter"]').forEach(radio => {
  radio.addEventListener('change', updateLabels);
});

updateLabels(); })
 
 </script>
 
{% endblock %}